

/*.main-container{
    margin:5rem 12rem;
}
.user-form{
    margin:0rem 10rem;
    background:rgb(236, 234, 234);
    padding:2rem 3rem;
}
.user-box{
    width:500px;
    padding:0.6rem 1rem;
    border:none;
    margin:1rem 0rem;
    font-size:18px;
    font-family:'Cabin',sans-serif;
}
label{
   
    margin:5px 1px;
}
.add-admin-btn{
    border:none;
    background-color:#FFFFFF;
}*/
.list-container{
    width:100%;
    margin:10px 0px;
    padding:1rem 0.5rem
}
.list-items{
    display:flex;
    flex-direction:column;
    gap:25px;
    width:100%;
    overflow-y:scroll;

}
.list-item{
    padding:0.5rem 1rem;
    margin:5px 5px;
    border:1px solid #000;
    display:flex;
    gap:15rem;
    
}
.content-box{
    margin-left:10rem;
}
.song-title{
    font-family:'Poppins',sans-serif;
    font-size:24px;
    letter-spacing: 1px;
    margin:5px 1px;
}
.movie-name{
    font-family:'Cabin',sans-serif;
    font-size:21px;
    letter-spacing:1.5px;
    margin:1px 1px;
    color:rgb(62, 60, 60)
}
.artist{
    text-transform:uppercase;
    font-size:18px;
    margin:10px 1px;
    letter-spacing:1px;
    color:rgb(50, 45, 45)
}
.remove-btn{
    font-family:'Poppins',sans-serif;
    font-size:14px;
    border:none;
    padding:8px 12px;
    margin-left:20rem;
    margin-top:2rem;
    background:#FFDA8A;;
    border-radius:20px;
    color:#fff;

}