*{
    padding:0;
    margin:0;
    
}

.main-container{
    max-width:100%;

}
.logo{
    font-family:'Poppins',sans-serif;
    font-size:25px;
    font-weight:800;
   
}
.navbar{
    display:flex;
    width:100%;
    padding:10px 5px;
    align-items:center;
    gap:100px;
    justify-content: center;
}
.btn{
    border:none;
    padding:10px 15px;
    font-family:"Cabin",sans-serif;
    font-size:16px;
    letter-spacing:0.5px;
    margin-left:25px;

}
.sign-out{
    margin-left:100px;
    border:none;
    background:#FFDA8A;
    color:white;
    font-family:"Cabin",sans-serif;
    font-size:16px;
    letter-spacing:0.5px;
    padding:10px 15px;
}
.songs-container{
    width: 100%;
    margin:3rem 1rem;
}
.form-box{
    max-width:80%;
    padding:12px 15px;
    margin:0rem 7rem;

}
.box{
    display:flex;
    gap:25px;
    width:100%;
    margin:20px 0px;
}
.box input{
    width:400px;
    padding:0.5rem 1rem;
    margin-top:15px;
    font-size:18px;
    font-family:'Cabin',sans-serif;
    
}
.image-box {
    width:100%;
    margin:20px 0px;
}

.audio-box{
    width:100%;
    margin:20px 0px;
}
.image-url{
    width:860px;
    padding:0.5rem 1rem;
    margin-top:15px;
}

.audio-url{
    width:860px;
    padding:0.5rem 1rem;
    margin-top:15px;
}
label{
    font-family:'Cabin',sans-serif;
    font-size:18px;
    letter-spacing:1px;
    padding:12px 1px;
}
.add-btn{
    border:none;
    width:900px;
    padding:0.5rem 1rem;
    margin-top:5px;
    font-size:16px;
    font-family:'Poppins',sans-serif;
    background:#FFDA8A;
    color:white;
    letter-spacing: 1px;
}
.heading{
    font-size:21px;
    padding:3px 0px;
    margin-left:15rem;
    font-family:'Poppins',sans-serif;
    letter-spacing: 1px;
}




/*-------admin form---*/
.main-container{
    margin:5rem 12rem;
}
.user-form{
    margin:0rem 10rem;
    background:rgb(236, 234, 234);
    padding:2rem 3rem;
}
.user-box{
    width:500px;
    padding:0.6rem 1rem;
    border:none;
    margin:1rem 0rem;
    font-size:18px;
    font-family:'Cabin',sans-serif;
}

.add-admin-btn{
    border:none;
    background-color:#9620f6;
    width:400px;
    padding:0.6rem 1rem;
    margin:5px 4rem;
    color:#ffff;
    font-weight:400;
    font-family:'Poppins',sans-serif;
    letter-spacing:1px;
}
.admin-success{
    font-size:17px;
    margin:5px 20rem;
}


/*------login-container-----*/

.login-container{
    width:100%;
}
.form-container{
    margin:5rem 6rem;
}

.login-form{
    margin:5rem 15rem;
    padding:2rem 2rem;
    background:
    #FFDA8A;
    
}
.login-heading{
    text-align:center;
   
    margin:0px 7rem;
    font-family:'Poppins',sans-serif;
    
}

.login-input{
    width:700px;
    border:none;
    padding:0.6rem 0.5rem;
    margin:1rem 0.5rem;
    font-family:'Cabin',sans-serif;
    font-size:16px;

}
.login-btn{
    border:none;
    background:rgb(18, 19, 19);
    color:white;
    width:300px;
    margin:5px 15rem;
    padding:0.5rem 0rem;
    font-size:16px;
    font-weight:800;
}
/*---display---*/

